@import url('https://fonts.googleapis.com/css?family=VT323');

* {
  margin: 0;
  padding: 0;
}

html {
  text-align: center;
  font-family: 'VT323', monospace;
  color: black;
  background-color: black;
  background: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
}

#container {
  margin: 20px 5px 5px 5px;
  padding: 20px;
}

#secret-code {
  background-color: #131414;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 30px 10px 30px 10px;
  margin: 7px;
  width: 90%;
  font-size: 1.3em;
  font-family: 'VT323', monospace;
  letter-spacing: 3px;
  text-align: center;
  box-shadow:5px 5px 50px grey;
}

#secret-code::placeholder {
  color: white;
  text-align: center;
}

#secret-code:focus {
  outline: none !important;
}

#decrypter-button {
  background-color: #131414;
  color: white;
  border: 3px solid white;
  border-radius: 50%;
  display: inline-block;
  width: 20vw;
  height: 20vw;
  max-width: 100px;
  max-height: 100px;
  margin: 14px 7px 7px 7px;
  -webkit-appearance: none;
  cursor: pointer;
  font-size: 1.3em;
  font-family: 'VT323', monospace;
  letter-spacing: 5px;
  box-shadow:5px 5px 50px grey;
}

#decrypter-button:focus {
  outline: none !important;
}

#decrypter-button:hover, #decrypter-button:active {
  color: #20C20E;
}

#secret-message {
  color: black;
  background-color: white;
  margin-top: 15px;
  font-family: 'VT323', monospace;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 5px;
  width: 90%;
  margin: auto;
}
